.btn {
    width: 100px;
}

.btn:focus {
    box-shadow: none !important;
} 

.table > tbody > tr > td {
    vertical-align: middle;
}

table {
    white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';