.btn {
    width: 200px;
}

.btn:focus {
    box-shadow: none !important;
} 

.table > tbody > tr > td {
    vertical-align: middle;
}

table {
    white-space: nowrap;
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';